body,
h3,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: center;
}

h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}

#credentials-list {
  margin-top: 15px;
}

.credential-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.credential-item span {
  flex: 1;
  font-size: 14px;
}

.icon-fill,
.icon-remove {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  color: #007bff;
}

.icon-remove {
  color: #ff4d4d;
}

.icon-fill:hover {
  color: #0056b3;
}

.icon-remove:hover {
  color: #cc0000;
}

.icon-edit,
.icon-up,
.icon-down {
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  color: #007bff;
}

.icon-edit:hover,
.icon-up:hover,
.icon-down:hover {
  color: #0056b3;
}
.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 30px; /* Space for the eye icon */
}

.icon-toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
}

.icon-toggle-password:hover {
  color: #0056b3;
}